.official-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* adjust as necessary */
}

.official-logo img {
  height: 50px; /* adjust as necessary */
  margin-right: 10px; /* adjust as necessary */
}

.official-logo h2 {
  font-size: 24px; /* adjust as necessary */
  margin: 0;
}

.dates-container {
  padding: 20px; /* adjust as necessary */
  border-radius: 8px; /* adjust as necessary */
  display: flex;
  justify-content: center;
}

.date-dropdown {
  display: inline-block;
  margin-right: 10px; /* Space between buttons */
}

.date-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #d9d9d9; /* Light grey border */
  padding: 10px 20px; /* adjust as necessary */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  font-size: 16px; /* adjust as necessary */
  outline: none;
  width: 30vw;
}

.date-button:focus {
  border-color: #4d90fe; /* Blue border for focus */
}

.arrow-icon {
  margin-left: 5px; /* Space between date and icon */
}

.dropdown-content,
.nested-dropdown-content {
  background-color: #fff;
  border: 1px solid #d9d9d9; /* Light grey border */
  border-radius: 4px; /* Rounded corners */
  position: absolute;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for dropdown */
}

.dropdown-item,
.nested-dropdown-item {
  padding: 8px 16px; /* adjust as necessary */
  cursor: pointer;
  white-space: nowrap; /* Keep dropdown items on one line */
}

.dropdown-item:hover,
.nested-dropdown-item:hover {
  background-color: #f9f9f9; /* Light grey background on hover */
}

