.footer-container {
  position: relative;
  padding: 30px 0;
}

.footer-insider {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px 0;
}

.footer-insider-right {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 5px 15px;
}
